.album {
  position: absolute;
  height: 400px;
  width: 400px;
}

.hotsix-title {
  background-color: #fd5151;
  padding-left: 200px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 60px;
  margin-left: 250px;
  color: #222222;
}

.album-row {
  margin-left: 90px;
}

.album-column {
  display: inline-block;
  width: 400px;
  height: 400px;
  padding: 10px;
}

.album-column .album-description {
  display: inline-block;
  position: relative;
  bottom: 0px;
  height: 400px;
  width: 400px;
  background: #fa41c29b;
  color: #fff;
  visibility: hidden;
  opacity: 0.6;
  transition: 0.1s;
}

.album-column:hover .album-description {
  visibility: visible;
  opacity: 1;
}

.album-column .album-description .album-detail {
  opacity: 0;
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
  transition: 0.35s;
}
.album-column:hover .album-description .album-detail {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.album-column .album-detail:nth-child(1) {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin: 160px 0px 0px;
}

.album-column .album-detail:nth-child(2) {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 10px;
  padding-bottom: 10px;
  color: yellow;
}

.album-column .album-detail:nth-child(3) {
  text-align: center;
  margin: 0 auto;
  display: block;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 103);
  color: rgb(255, 255, 103);
  height: 35px;
  width: 140px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  transition: 0.2s;
}

.album-column .album-detail:nth-child(3):hover {
  cursor: pointer;
  border: 2px solid rgb(255, 255, 103);
  background-color: rgb(255, 255, 103);
  color: #222222;
  transition: 0.2s;
}

@keyframes popup-album-container {
  from {
    opacity: 0;
    top: 200px;
  }
  to {
    opacity: 1;
    top: 100px;
  }
}

.popup-album-container {
  position: fixed;
  top: 100px;
  left: 220px;
  height: 490px;
  width: 1000px;
  background-color: #222222ed;
  border: 2px solid #fa41c2;
  color: white;
  display: grid;
  grid-template-columns: 480px 430px 100px;
  grid-gap: 20px;
  border-radius: 10px;
  animation: popup-album-container 0.3s 1;
}

.popup-album-container > img {
  width: 450px;
  height: 450px;
  border-left: 4px solid #fd5151;
  border-bottom: 4px solid #fd5151;
  border-radius: 10px;
  margin: auto;
}

.popup-album-container > .album-detail-button {
  height: 30px;
  width: 30px;
  padding-left: 20px;
  padding-top: 5px;
  background: none;
  border: none;
  color: #ddb3ff;
  font-size: 30px;
  cursor: pointer;
}

.popup-album-container > .album-detail-button:hover {
  color: yellow;
  transition: 0.2s;
}

.popup-album-detail {
  margin-top: 10px;
}

.popup-album-detail > h1 {
  font-size: 50px;
  margin-bottom: 0px;
  color: #ffffff;
}

.popup-album-detail > h2 {
  font-size: 25px;
  padding-left: 5px;
  padding-top: 5px;
  margin-top: 0px;
  color: #ffffff;
}

.popup-album-detail > p {
  font-size: 20px;
  padding-left: 5px;
  padding-top: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #ddb3ff;
}

.songs-list {
  list-style: none;
  text-align: left;
  margin-left: -40px;
  margin-top: 35px;
}

.songs-list > li {
  float: left;
  font-size: 15px;
  width: 50%;
  margin-bottom: 10px;
  color: #ffffff;
  transition: 0.2s;
}

.songs-list > li::after {
  content: "";
  display: block;
  height: 1px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 7px;
  background: #fd5151;
  transition: 0.2s;
}

.songs-list > li:hover::after {
  content: "";
  display: block;
  height: 1px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 7px;
  background: yellow;
  transition: 0.2s;
}

.songs-list > li:hover {
  color: yellow;
  transition: 0.2s;
  cursor: pointer;
}

.spotify-button {
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #1db954;
  color: #1db954;
  height: 35px;
  width: 144px;
  border-radius: 15px;
  transition: 0.2s;
}

.spotify-button:hover {
  cursor: pointer;
  background-color: #1db954;
  border: 2px solid #1db954;
  color: white;
  transition: 0.2s;
}
