.shopping-list-container{
    text-align: center;
    margin:10% 0 auto;
}
.shopping-list {
  border-collapse: collapse;
  border-spacing: 0;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid aqua;
}

.shopping-list th, td {
  text-align: center;
  padding: 8px;
}

.shopping-list th{
    background-color: rgba(0, 255, 255, 0.911);
    color: black;
}

.shopping-list tr:nth-child(even){
    background-color: rgb(0, 112, 112);
}

.button-fruit{
    text-align: center;
    margin:10px 10px;
    /* display:block; */
    background-color: rgb(31,31,31);
    border: 2px solid aqua;
    color: aqua;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    font-size: 15px;
    transition: .2s;
}

.button-fruit:hover{
    background-color: aqua;
    color: rgb(31,31,31);
    transition: .2s;
}

.price-text{
    font-size: 25px;
}



