body {
  font-family:'helvetica';
}

.navbar{
    background-color: rgb(56, 56, 56);
    height: 45px;
}

.navbar .link-text{
    color: aqua;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    display: block;
    float: right;
    padding: 14px;
}

.navbar .nav-text{
    margin-right: 20px;
}

.navbar .link-text:hover{
    color: rgb(56, 56, 56);
    font-weight: bold;
    background-color: aqua;
    transition: .2s;
    
}